.header{
    background-color:rgba(0, 26, 46, 0.855);
}

.user-type{
    margin-bottom: 0;
    margin-right: 45px
}
.navbar{
    color: white;
}
.nav-link{
    color: white;
}
.nav-link a:active{
    color: white;
}
.nav-link:hover{
    color: #90adca;
}
.navbar-brand{
   color: white;

}
.navbar-brand:hover{
    color: #AABACA;
}
.navbar .navbar-nav .nav-link:active {
    background-color: #FFACB7;
    color: #fff;
  }